.THIS {
}
.THIS.box {
    border: 1px solid #d8dde6;
    border-radius: 0.25rem;
    background-clip: padding-box;
    padding: 0.45rem;
    margin: 0.25rem;
    width : 400px;
}
.THIS.slds-spinner_container {  
  z-index: 1000;
  position: fixed;   
}